* text=auto eol=lf

# Exclude generated code from language statistics
*.py linguist-detectable=false
*.js linguist-detectable=false
*.cs linguist-detectable=false
*.ml linguist-detectable=false
*.mli linguist-detectable=false
*.mly linguist-detectable=false
runtests/**/*.jl linguist-detectable=false
*.g4 linguist-generated=false
cli.aot/* linguist-generated=true
editor/typedbnf/src/grammar/TBNF* linguist-generated=true
editor/typedbnf/src/grammar-sh/TBNF* linguist-generated=true
runtests/**/*.ts linguist-generated=true
runtests/**/*.js linguist-generated=true
runtests/**/*.cs linguist-generated=true
runtests/**/*.py linguist-generated=true
runtests/**/*.ml linguist-generated=true
runtests/**/*.jl linguist-generated=true
runtests/**/*.mli linguist-generated=true
runtests/**/*.mly linguist-generated=true
# Documentation
*.md linguist-documentation=true
documentation.md linguist-documentation=true